body{
    font-family: 'Roboto', sans-serif;
    color: #3C3C3B;
}

/* NAVBAR */
#brand-image{
    height: 80px;
}
.navbar{
    /*height: 88px;*/
    background-color: white;

}
.navbar a{
    color: #3C3C3B!important;
}



/* FOOTER */
footer{
    background-color: #1D71B8;
    color: white;
}
footer .card-body{
    background-color: #1D71B8;
    text-align: center;
}

footer .card{
    background-color: #1D71B8;
    border: none;
}

footer .form-control{
    margin: 0 auto 20px auto;
    width: 70%;   
}
footer .btn{
    background-color: #1db864;
    border-color: #1db864;
    margin-top: 10px;
    padding: 10px 25px 10px 25px;
}
footer .btn:hover{
    background-color: white;
    color: black;
}

.copyright{
    background-color: #16568c;
    padding: 20px 0 20px 0;
    font-weight: 100;
}