body{
    font-family: 'Roboto', sans-serif;
    color: #3C3C3B;
}

/* NAVBAR */
#brand-image{
    height: 80px;
}
.navbar{
    /*height: 88px;*/
    background-color: white;

}
.navbar a{
    color: #3C3C3B
}


