
/* FONT:
    font-family: 'Roboto', sans-serif;

    font-family: 'Oswald', sans-serif;
*/

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #3C3C3B;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

h1{
    font-size: 3rem;
}

.bg-webravo-blue{
    background-color: #1D71B8;
}

/* NAVBAR */
#brand-image{
    height: 80px;
}
.navbar{
    /*height: 88px;*/
    background-color: white;

}
.navbar a{
    color: #3C3C3B!important;
}

/* COVER */
.cover{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/cover.png") no-repeat fixed center;
    height: 34vw;
    min-height: 500px;
    max-height: 530px;
    display: flex;

    align-items: center;
    color: white;
}
.cover h1{
    font-size: 3em;
    line-height: 86px;
}
.highlight{
    background-color: #1D71B8;
    padding: 10px 20px 10px 20px;
}

/* GRAFISK DESIGN SEKTION */

.grafisk-design{
    margin: 7rem 0rem;
}

.grafisk-design-skew{
  transform: skewY(-10deg);
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
}

.grafisk-design-skew-back{
    transform: skewY(10deg);
    -webkit-transform: skewY(10deg);
    -moz-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    -o-transform: skewY(10deg);
}


/* GRAFISK DESIGN SEKTION END */


/* SEO SEKTION */
.pb-10procent{
padding-bottom: 10%;
}
.grafisk-design{
    margin: 7rem 0rem;
}

.seo-skew{
  transform: skewY(10deg);
  -webkit-transform: skewY(10deg);
  -moz-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  -o-transform: skewY(10deg);
}

.seo-skew-back{
    transform: skewY(-10deg);
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -o-transform: skewY(-10deg);
}


/* SEO SEKTION END */

/* FOOTER */
footer{
    background-color: #1D71B8;
    color: white;
}
footer .card-body{
    background-color: #1D71B8;
    text-align: center;
}

footer .card{
    background-color: #1D71B8;
    border: none;
}

footer .form-control{
    margin: 0 auto 20px auto;
    width: 70%;   
}
footer .btn{
    background-color: #1db864;
    border-color: #1db864;
    margin-top: 10px;
    padding: 10px 25px 10px 25px;
}
footer .btn:hover{
    background-color: white;
    color: black;
}

.copyright{
    background-color: #16568c;
    padding: 20px 0 20px 0;
    font-weight: 100;
}


/* Om os CSS Starter her */


.omos-overskrift {
    display: grid;
    justify-items: center;
    padding: 30px 0; 
}

.omosall {

    display: flex;
    justify-content: center;

}

.omos {

    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
}
.omos div {
    display: grid;
    justify-items: center;
}
.omos img {
    width: 80%;
}
.omos-navn {
    font-size: 25px;
    font-weight: bold;
}
.omos-title {
    font-size: 20px;
    font-weight: bold;
}
.omos-mail {
    font-size: 20px;
}

@media only screen and (max-width: 1000px) and (min-width: 601px){
    .omos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }    
}
@media only screen and (max-width: 600px) {
    .omos {
        display: grid;
        grid-template-columns: 1fr;
    }    
}

/* Om os CSS Stopper her */